<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="ec.zeng.dao.LicenseMapper" >
  <resultMap id="BaseResultMap" type="ec.zeng.model.License" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="bussCert" property="busscert" jdbcType="VARCHAR" />
    <result column="idCard" property="idcard" jdbcType="VARCHAR" />
    <result column="isDeleted" property="isdeleted" jdbcType="INTEGER" />
    <result column="organCert" property="organcert" jdbcType="VARCHAR" />
    <result column="taxCert" property="taxcert" jdbcType="VARCHAR" />
    <result column="seller_id" property="sellerId" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, bussCert, idCard, isDeleted, organCert, taxCert, seller_id
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_license
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_license
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="ec.zeng.model.License" >
    insert into t_license (id, bussCert, idCard, 
      isDeleted, organCert, taxCert, 
      seller_id)
    values (#{id,jdbcType=INTEGER}, #{busscert,jdbcType=VARCHAR}, #{idcard,jdbcType=VARCHAR}, 
      #{isdeleted,jdbcType=INTEGER}, #{organcert,jdbcType=VARCHAR}, #{taxcert,jdbcType=VARCHAR}, 
      #{sellerId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="ec.zeng.model.License" >
    insert into t_license
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="busscert != null" >
        bussCert,
      </if>
      <if test="idcard != null" >
        idCard,
      </if>
      <if test="isdeleted != null" >
        isDeleted,
      </if>
      <if test="organcert != null" >
        organCert,
      </if>
      <if test="taxcert != null" >
        taxCert,
      </if>
      <if test="sellerId != null" >
        seller_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="busscert != null" >
        #{busscert,jdbcType=VARCHAR},
      </if>
      <if test="idcard != null" >
        #{idcard,jdbcType=VARCHAR},
      </if>
      <if test="isdeleted != null" >
        #{isdeleted,jdbcType=INTEGER},
      </if>
      <if test="organcert != null" >
        #{organcert,jdbcType=VARCHAR},
      </if>
      <if test="taxcert != null" >
        #{taxcert,jdbcType=VARCHAR},
      </if>
      <if test="sellerId != null" >
        #{sellerId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="ec.zeng.model.License" >
    update t_license
    <set >
      <if test="busscert != null" >
        bussCert = #{busscert,jdbcType=VARCHAR},
      </if>
      <if test="idcard != null" >
        idCard = #{idcard,jdbcType=VARCHAR},
      </if>
      <if test="isdeleted != null" >
        isDeleted = #{isdeleted,jdbcType=INTEGER},
      </if>
      <if test="organcert != null" >
        organCert = #{organcert,jdbcType=VARCHAR},
      </if>
      <if test="taxcert != null" >
        taxCert = #{taxcert,jdbcType=VARCHAR},
      </if>
      <if test="sellerId != null" >
        seller_id = #{sellerId,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="ec.zeng.model.License" >
    update t_license
    set bussCert = #{busscert,jdbcType=VARCHAR},
      idCard = #{idcard,jdbcType=VARCHAR},
      isDeleted = #{isdeleted,jdbcType=INTEGER},
      organCert = #{organcert,jdbcType=VARCHAR},
      taxCert = #{taxcert,jdbcType=VARCHAR},
      seller_id = #{sellerId,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>